<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright (C) 2013 Glyptodon LLC

   Permission is hereby granted, free of charge, to any person obtaining a copy
   of this software and associated documentation files (the "Software"), to deal
   in the Software without restriction, including without limitation the rights
   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
   copies of the Software, and to permit persons to whom the Software is
   furnished to do so, subject to the following conditions:

   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.

   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
   THE SOFTWARE.
-->
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Basic config -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

	<!-- ======================== 单点登录开始 ======================== -->    
    <!-- 用于单点退出，该过滤器用于实现单点登出功能，可选配置 -->    
     <listener>    
        <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>    
    </listener> 
    
    <!-- 该过滤器用于实现单点登出功能，可选配置。     -->
    <filter>    
        <filter-name>CAS Single Sign Out Filter</filter-name>    
        <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class> 
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
           	<param-value>https://sso.testplatform.com:8443/cas/logout</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
           <param-value>http://xx.x.xxx.xxx:xxxx/guacamole-0.9.9</param-value>
        </init-param>   
    </filter>
    <filter-mapping>    
        <filter-name>CAS Single Sign Out Filter</filter-name>    
        <url-pattern>/*</url-pattern>    
    </filter-mapping>    
    
         
          
    <!-- 该过滤器负责用户的认证工作，必须启用它   -->
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
           <param-value>https://sso.testplatform.com:8443/cas/login</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://xx.x.xxx.xxx:xxxx/guacamole-0.9.9</param-value>
        </init-param>
    </filter>
     <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
    
    <!-- 该过滤器负责对Ticket的校验工作，必须启用它  -->   
    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://sso.testplatform.com:8443/cas</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://xx.x.xxx.xxx:xxxx/guacamole-0.9.9</param-value>
        </init-param>
        
    </filter>
    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
   
      
  
    <!-- 该过滤器负责实现HttpServletRequest请求的包裹， 比如允许开发者通过HttpServletRequest的getRemoteUser()方法获得SSO登录用户的登录名，可选配置。 -->    
    <filter>    
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>    
        <filter-class>    
            org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>    
    </filter>    
    <filter-mapping>    
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>    
        <url-pattern>/*</url-pattern>
    </filter-mapping> 
        
    <!-- ======================== 单点登录结束 ======================== -->  
	
    <!-- Guice -->
    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.glyptodon.guacamole.net.basic.BasicServletContextListener</listener-class>
    </listener>

    <!-- Audio file mimetype mappings -->
    <mime-mapping>
        <extension>mp3</extension>
        <mime-type>audio/mpeg</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ogg</extension>
        <mime-type>audio/ogg</mime-type>
    </mime-mapping>

</web-app>
